<div class="wrapper">
                            <a href="#" id="logo"><img class="imgs"  src="{{asset('bundles/fosefose/pages/img/logos.png')}}"  width="50%" alt="Fose Berkane" style="float:right;margin-left:600px;" /></a>
				
				<nav>
					<ul id="nav" class="sf-menu">
						 <li><a href="#">إتصل بنا </a></li>
					 <li><a href="#">مواقع صديقة</a></li>
						<li><a href="#">فروع المؤسسة</a></li>
						<li><a href="#">أعضاء المكتب</a></li>
						<li><a href="#">معرض الصور</a></li>
						<li><a href="#">المخيم</a></li>
						<li><a href="#">آخر المستجدات</a></li>
						<li><a href="{{path('fose_accueil')}}">الرئيسية</a></li>
						
					</ul>
				</nav>
				<div id="combo-holder"></div>
</div></br></br></br>